{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>metail|home</title>
    {% endblock %}



</head>
<body>
  {% block content %}
  <link href="{% static 'css/theme.css' %}" rel="stylesheet">
  <link href="{% static 'css/jsCalendar.css' %}" rel="stylesheet">
  <script src="{% static 'js/jsCalendar.js' %}" type="text/javascript"></script>

  <!-- <link href="{% static 'bootstrap/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet"> -->
  <div class="row m-t-25">
          <div class="col-sm-6 col-lg-3">
              <div class="overview-item overview-item--c1">
                  <div class="overview__inner">
                      <div class="overview-box clearfix">
                          <div class="icon">
                              <i class="zmdi zmdi-account-o"></i>
                          </div>
                          <div class="text">
                              <h2>10368</h2>
                              <span>Customers</span>
                          </div>
                      </div>
                      <div class="overview-chart">
                          <canvas id="widgetChart1"></canvas>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-3">
              <div class="overview-item overview-item--c2">
                  <div class="overview__inner">
                      <div class="overview-box clearfix">
                          <div class="icon">
                              <i class="zmdi zmdi-shopping-cart"></i>
                          </div>
                          <div class="text">
                              <h2>388,688</h2>
                              <span>Clothes Due </span>
                          </div>
                      </div>
                      <div class="overview-chart">
                          <canvas id="widgetChart2"></canvas>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2>20,086</h2>
                                                <span>Measures Taken</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart3"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
          <div class="col-sm-6 col-lg-3">
              <div class="overview-item overview-item--c4">
                  <div class="overview__inner">
                      <div class="overview-box clearfix">
                          <div class="icon">
                              <i class="zmdi zmdi-money"></i>
                          </div>
                          <div class="text">
                              <h2>$1,060,386</h2>
                              <span>total earnings</span>
                          </div>
                      </div>
                      <div class="overview-chart">
                          <canvas id="widgetChart4"></canvas>
                      </div>
                  </div>
              </div>
          </div>
      </div>

                      <h2>What would you like to do</h2>
                      <div class="row">
                        <div  class="col-lg-6 col-xs-12 thumbnail"><a href="/measure"><img src="{% static "image/KNITTING.jpg" %}" alt="Take Measurements"> <small>View Measurement </a></small>
                        </div>

                        <div class="col-lg-6 col-xs-12 thumbnail"><a href="/measure"><img src="{% static "image/TakeMeasurement.jpg" %}" alt="Take Measurement"><small>Take Measurement</small></a>
                        </div>
                         <!-- <iframe src="/measure" width="1050" height="500"></iframe>  -->
                         <!--  -->
                         <link rel="stylesheet" type="text/css" href="jsCalendar.css">
<script type="text/javascript" src="jsCalendar.js"></script>
                         <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script> -->

    {% endblock %}
</body>

</html>
