{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>metail|home</title>
    {% endblock %}



</head>
<body>
  {% block content %}

               
                      <h2>What would you like to do</h2>
                      <div class="row">
                        <div  class="col-lg-6 col-xs-12 thumbnail"><a href="/measure"><img src="{% static "image/KNITTING.jpg" %}" alt="Take Measurements"> <small>View Measurement </a></small>
                        </div>

                        <div class="col-lg-6 col-xs-12 thumbnail"><a href="/measure"><img src="{% static "image/TakeMeasurement.jpg" %}" alt="Take Measurement"><small>Take Measurement</small></a>
                        </div>
                        

    {% endblock %}
</body>
<script >
     
     $('div').on("click",function(){
  $(".container").fadeOut(3000) ;
})


 </script>
</html>
